<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>구매자 메뉴</title>
</head>
<body>
<h1>구매자 메뉴</h1>

<div style="background-color: #f0f0f0; padding: 10px; margin-bottom: 20px;">
    <h3>현재 매장: <span th:text="${session.currentStoreName}">강남점</span></h3>
    <a href="/customer/stores/select">매장 변경하기</a>
</div>

<div>
    <h3 style="display: inline">1. 전체 메뉴</h3>
    <a href="/customer/menus">이동</a>
</div>

<div>
    <h3 style="display: inline">2. 주문 내역 확인</h3>
    <a href="/customer/orders/check">이동</a>
</div>

<div>
    <h3 style="display: inline">3. 오늘의 추천 메뉴</h3>
    <a href="/customer/menus/recommend">이동</a>
</div>

<div>
    <h3 style="display: inline">4. 나만의 메뉴 (찜)</h3>
    <a href="/customer/favorites">이동</a>
</div>


<div th:replace="~{fragments/components :: logoutBtn}"></div>


</body>
</html>