<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>구매자 메뉴</title>
</head>
<body>
<h1>구매자 메뉴</h1>

<div>
    <h3 style="display: inline">1. 전체 메뉴</h3>
    <a href="/customer/menus">이동</a>
</div>

<div>
    <h3 style="display: inline">2. 주문 내역 확인</h3>
    <a href="/customer/orders/check">이동</a>
</div>

<div>
    <h3 style="display: inline">3. 오늘의 추천 메뉴</h3>
    <a href="/customer/menus/recommend">이동</a>
</div>

<div>
    <h3 style="display: inline">4. 나만의 메뉴 (찜)</h3>
    <a href="/customer/favorites">이동</a>
</div>


<div>
    <a href="/">로그아웃</a>
</div>


</body>
</html>