<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: commonHead('판매자 메뉴', null)}"></head>
<body>
<h1>판매자 메뉴</h1>
<div th:replace="~{fragments/nav :: topNav(${storeName})}"></div>

<div>
    <h3 style="display: inline">1. 주문 관리</h3>
    <!-- todo : th로 변경 필요-->
    <a href="/seller/orders">이동</a>
</div>

<div>
    <h3 style="display: inline">2. 재고/상태 관리</h3>
    <a href="/seller/stock">이동</a>
</div>

<div>
    <h3 style="display: inline">3. 판매 메뉴 관리</h3>
    <a href="/seller/menus">이동</a>
</div>

<div>
    <h3 style="display: inline">4. 매출 조회</h3>
    <a href="/seller/sales">이동</a>
</div>

<div>
    <h3 style="display: inline">5. 추천 메뉴 관리</h3>
    <a href="/seller/menus/recommend">이동</a>
</div>

<div th:replace="~{fragments/components :: logoutBtn}"></div>


</body>
</html>