<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>판매자 메뉴</title>
</head>
<body>
<h1>판매자 메뉴</h1>

<div>
    <h3 style="display: inline">1. 주문 관리</h3>
    <!-- todo : th로 변경 필요-->
    <a href="/seller/orders">이동</a>
</div>

<div>
    <h3 style="display: inline">2. 재고/상태 관리</h3>
    <a href="/seller/stock">이동</a>
</div>

<div>
    <h3 style="display: inline">3. 판매 메뉴 관리</h3>
    <a href="/seller/menus">이동</a>
</div>

<div>
    <h3 style="display: inline">4. 매출 조회</h3>
    <a href="/seller/sales">이동</a>
</div>

<div>
    <h3 style="display: inline">5. 추천 메뉴 관리</h3>
    <a href="/seller/menus/recommend">이동</a>
</div>

<form th:action="@{/logout}" method="post">
    <button type="submit" style="background: none; border: none; color: purple; cursor: pointer; text-decoration: underline;">
        로그아웃
    </button>
</form>


</body>
</html>