<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: commonHead('매장 선택')}"></head>
<body>
<h1>주문할 매장을 선택해주세요</h1>

<ul>
    <li th:each="store : ${stores}">
        <span th:text="${store.name}">강남점</span>

        <form th:action="@{/customer/stores/select}" method="post" style="display: inline;">
            <input type="hidden" name="storeId" th:value="${store.id}">
            <button type="submit">선택</button>
        </form>
    </li>
</ul>
</body>
</html>